<a href="https://colab.research.google.com/github/bbookman/ds-class-exercises/blob/master/BRB_Solutions_Numpy_additional_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Create a numpy array of size 10, filled with zeros.
import numpy as np
a = np.zeros(10)
print(str(a))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [7]:
# Create a numpy array with values ranging from 10 to 49
b = np.arange(10,50)
print(b)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]